

.publication-facts-label {
  font-size: 16px;
  font-family: "ArchivoNarrow-Variable", "Noto Sans", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.publication-facts-label .pfl-flex {
  display:flex;
}

.publication-facts-label .pfl-flex button {
  align-self: flex-start;
  margin-right: 0.3em;
}

.publication-facts-label .pfl-flex button img {
  width: 20px;
  height: 20px;
  max-width: none; /* fighting theme css*/
}


.publication-facts-label .pfl-container {
  display: inline-block;
  border-width: 0.31em;
  border-style: solid;
  width: 460px;
  padding: 0em 0.75em 0.4em 0.75em;
}

.publication-facts-label button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  padding: 0px;
  margin: 0px;
  color: #000000;
}

.publication-facts-label #pfl-button-open-facts {
  font-family: Barlow-Bold;
  font-size: 3em;
  font-weight: 700; 
  width:100%;
}

.publication-facts-label .pfl-tables {
  display: none;
}

.publication-facts-label p.pfl-table-footer {
  text-align: center;
  margin-bottom: 0.4em;
  margin-top: 0.4em;

}

.publication-facts-label a {
  color: #0D0DF5;
}


.publication-facts-label .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.publication-facts-label .info_icon {
  margin-bottom: -0.25em;
}



.publication-facts-label table {
  border: 0px solid;
  border-collapse: collapse;
  width: 100%;
  /*font-size: 14px;*/
}

.publication-facts-label table thead {
  border-top: 0.125em solid;
}

.publication-facts-label table th:last-of-type {
  color: #848484;
  font-weight: 600;
}

.publication-facts-label table td:last-of-type {
  color: #616161;
}


.publication-facts-label table:first-of-type thead {
  border-top: 0.375em solid;
}

.publication-facts-label table th:first-of-type {
  width: 58%;
}




.publication-facts-label table tbody tr {
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.publication-facts-label table:last-of-type tbody {
  border-bottom: 0.25em solid;
}


.publication-facts-label table th {
  font-family: "ArchivoNarrow-Variable";
  font-weight: 700;
  font-size: 1.125em;
  text-align: left;
  color: #222222;
  padding-left: 0.3em; 
  padding-right: 0em; 
  padding-top: 0.4em;
  padding-bottom: 0.3em;
}

.publication-facts-label table td {
  padding-left: 0.3em; 
  padding-right: 0.3em; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  vertical-align: top;
}

/* WIP: This is used to indicate where real data or links still need to be added */
.publication-facts-label .fake {
  color: #ff0000;
}

@media only screen and (max-width: 550px) {
  .publication-facts-label {
    font-size: 14px;
  }

  .publication-facts-label table th {
    font-size: 1.07em;
    text-align: left;
  }

  .publication-facts-label #pfl-button-open-facts {
    font-size: 2.5em;
  }

  .publication-facts-label table th:first-of-type {
    width: 53%;
  }

  .publication-facts-label .pfl-container {
    padding: 0em 0.35em 0.4em 0.35em;
  }
  
}



/**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
 .publication-facts-label .pfl-dialog-container,
 .publication-facts-label .pfl-dialog-overlay {
   position: fixed; /* 1 */
   top: 0; /* 1 */
   right: 0; /* 1 */
   bottom: 0; /* 1 */
   left: 0; /* 1 */
 }
 
 /**
  * 1. Make sure the dialog container and all its descendants sits on
  *    top of the rest of the page.
  * 2. Make the dialog container a flex container to easily center the
  *    dialog.
  */
  .publication-facts-label .pfl-dialog-container {
   z-index: 2; /* 1 */
   display: flex; /* 2 */

 }
 
 /**
  * 1. Make sure the dialog container and all its descendants are not
  *    visible and not focusable when it is hidden.
  */
.publication-facts-label .pfl-dialog-container[aria-hidden='true'] {
   display: none; /* 1 */
 }
 
 /**
  * 1. Make the overlay look like an overlay.
  */
 .publication-facts-label .pfl-dialog-overlay {
   background-color:  rgb(43 46 56 / 0.4); /* 1 */
 }
 
 /**
  * 1. Vertically and horizontally center the dialog in the page.
  * 2. Make sure the dialog sits on top of the overlay.
  * 3. Make sure the dialog has an opaque background.
  */
.publication-facts-label .pfl-dialog-content {
   margin: auto; /* 1 */
   z-index: 2; /* 2 */
   position: relative; /* 2 */
   background-color: white; /* 3 */
   overflow-y: auto;
   max-height: 90vh; 
   padding-left: 1.6em;
   padding-right: 1.6em;
   padding-top: 1.4em;
   padding-bottom: 1em;

   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
   border-radius: 15px;

 }
 
 .publication-facts-label .pfl-dialog-content hr {
  margin-left: -1.6em;
  margin-right: -1.6em;
 }

 .publication-facts-label .pfl-dialog-content h1 {
  font-family: Barlow-Bold;
  font-size: 1.5em;
  font-weight: 700; 

 }

 .publication-facts-label .pfl-dialog-content h2 {
  font-family: "ArchivoNarrow-Variable";
  font-weight: 700;
  font-size: 1.33em;
  margin-top: 1.2em;
 }

 .publication-facts-label .pfl-dialog-content ul  {
  margin-top: 0.8em;
  padding-left: 1.5em;
  color: #616161
 }


 .publication-facts-label .pfl-dialog-close-button {
  color: #0D0DF5;
  float: right;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  margin-right: 0.6em;
  margin-top: 0.3em;
  margin-left: 1em;

}

.publication-facts-label .pfl-dialog-close-button span {
  text-decoration: underline;
}


.publication-facts-label .pfl-dialog-close-button img {
  margin-bottom: -0.4em;
}

.publication-facts-label .pfl-modal-footer  {
  text-align: right;
 }

