.ciStatementLabel {
}
.ciStatementContents {
  padding-left: 2em;
}
.ciStatementContents p:first-child {
  margin-top: 0;
}

#funding-data:target {
  animation: pflflash 1s 1;
  -webkit-animation: pflflash 1s 1; /* Safari and Chrome */
}

#author-list:target {
  animation: pflflash 1s 1;
  -webkit-animation: pflflash 1s 1; /* Safari and Chrome */
}

@keyframes pflflash {
  0% {
    background: yellow;
  }
}

@-webkit-keyframes pflflash /* Safari and Chrome */ {
  0% {
    background: yellow;
  }
}

/* GENERAL */

.publication-facts-label {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-weight: 350;
  max-width: fit-content;
  min-width: fit-content;
  color: #000;
}

/* CONTAINER */

.publication-facts-label .pfl-container.expanded {
  border-width: 0.15rem;
  border-style: solid;
  border-color: #000000;
  padding-top: 0.4em;
  padding-bottom: 0.2rem;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
  -webkit-box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
  width: inherit;
}

/* PFL DROPDOWN BUTTON */

.pfl-dropdown {
  width: 100%;
  height: 32px;
  min-width: 225px;
  position: relative;
  border: 0.1rem solid rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  border-radius: 0.2rem;
}

.pfl-dropdown:hover {
  border-color: #000;
  border: 0.1rem solid rgba(0, 0, 0, 0.6);
  background-color: #00000010;
  cursor: pointer;
  border-radius: 0.2rem;
}

.pfl-dropdown.expanded {
  position: relative;
  height: 32px;
  min-width: 225;
  border-top: 0.1rem solid #d0d0d0;
  border-left: 0.1rem solid #d0d0d0;
  border-right: 0.1rem solid #d0d0d0;
  border-bottom: 0.1rem solid #d0d0d0;
  background-color: #d0d0d0;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  border-radius: 0.2rem 0.2rem 0rem 0rem;
}

.publication-facts-label #pfl-button-open-facts {
  block-size: 100%;
  height: 100%;
  width: 100%;
  text-align: start;
  font-family: "Noto Sans", sans-serif;
  /*Intentionally unusual font-weight to start downloading the pfl variable noto sans file before opening PFL*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-optical-sizing: none;
  font-weight: 850;
  font-size: 1.5rem !important;
  white-space: nowrap;
  font-style: normal;
}

.publication-facts-label #pfl-button-open-facts[aria-expanded="true"] {
  opacity: 0.5;
}

[dir="ltr"] #pfl-buttonText {
  margin-left: 0.5rem;
}

[dir="rtl"] #pfl-buttonText {
  margin-right: 0.5rem;
}

[dir="ltr"] #pfl-button-open-facts img {
  height: 0.8rem;
  width: 0.8rem;
  padding-top: 0.1rem;
  margin-right: 0.8rem;
  opacity: 0.5;
}

[dir="rtl"] #pfl-button-open-facts img {
  height: 0.6rem;
  width: 0.6rem;
  padding-top: 0.1rem;
  margin-left: 1rem;
  opacity: 0.5;
}

/* MAIN CLASSES */

.publication-facts-label #pfl-title {
  text-align: start;
  max-width: 100%;
  max-height: 100%;
  margin-top: 0.4rem;
  margin-bottom: 0.7rem;
  font-optical-sizing: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: 850;
  font-size: 1.9rem;
  white-space: nowrap;
  font-style: normal;
}

.pfl-header-row {
  border-top: 0.6rem solid black;
  border-bottom: 0.01rem solid #000000;
  padding-top: 0.18rem;
  padding-bottom: 0.12rem;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
}

.pfl-body-row {
  border-bottom: 0.01rem solid #000000;
  font-size: 0.9rem;
  line-height: 1.6rem;
  text-align: start;
  display: flex;
}

.pfl-this-cell {
  display: inline-block;
  text-align: start;
  margin-left: 0.2rem;
  margin-right: 2rem;
}

[dir="rtl"] .pfl-this-cell {
  margin-left: 2rem;
  margin-right: 0.2rem;
}

.pfl-other-cell {
  display: block;
}

[dir="ltr"] .pfl-other-cell {
  margin-left: auto;
}

[dir="rtl"] .pfl-other-cell {
  margin-right: auto;
}

[dir="ltr"] .pfl-list-item {
  margin-left: 0.2rem;
}

[dir="rtl"] .pfl-list-item {
  margin-right: 0.2rem;
}

.pfl-bold {
  font-family: "Noto Sans", sans-serif !important;
  font-weight: 550 !important;
  font-size: 1rem;
}

[dir="ltr"] .publication-facts-label .pfl-indent {
  padding-left: 1.2rem;
}

[dir="rtl"] .publication-facts-label .pfl-indent {
  padding-right: 1.2rem;
}

.publication-facts-label .pfl-body-row li a {
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  text-align: center;
  line-height: 24px;
}

.pfl-body-row ul {
  padding-inline-start: 4px !important;
}

.publication-facts-label #pfl-table-footer {
  border-top: 0.4rem solid black;
  white-space: nowrap;
  padding-top: 0.4rem;
  display: inline-block;
  width: 100%;
}

.publication-facts-label #pfl-table-footer-info-link {
  text-align: start;
  display: flex;
  gap: 0.45rem;
  color: inherit;
  text-decoration: none;
  text-align: start;
  white-space: nowrap;
  font-size: 0.98rem;
  padding-bottom: -0.1rem;
}

.publication-facts-label #pfl-table-footer p {
  white-space: nowrap;
  font-size: 0.75rem;
  line-height: 1.2rem !important;
}

/* PFL H ELEMENTS */

.publication-facts-label h2 {
  font-weight: unset;
  margin: unset;
  line-height: unset;
  font-size: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  font-weight: unset;
  unicode-bidi: unset;
}

.publication-facts-label h3 {
  margin: 0 0;
  font-weight: unset;
  font-family: unset;
  font-size: unset;
  line-height: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  text-align: start;
}

/* LIST ELEMENTS */

.publication-facts-label dl {
  margin-block-start: 0rem !important;
  margin-block-end: 0rem !important;
  padding-inline-start: 0;
  list-style: none;
  text-align: start;
}

.publication-facts-label dl dd {
  display: inline-block;
  margin-inline-start: unset;
}

.publication-facts-label dl dt {
  display: inline-block;
}

.publication-facts-label ul {
  list-style-type: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  padding-inline-start: unset;
  unicode-bidi: unset;
  font-size: unset;
}

.publication-facts-label li {
  display: inline-block;
  list-style-type: none;
}

/* PARAGRAPH ELEMENTS */

.publication-facts-label p {
  vertical-align: middle;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  line-height: 1.5rem !important;
  margin-block-start: unset;
  margin-block-end: unset;
  text-align: start;
}

/* TABLES */

.publication-facts-label .pfl-tables {
  display: none;
}

/* INTERACTIVE ELEMENTS */

.publication-facts-label a {
  text-decoration: underline;
  color: #006798;
}

.publication-facts-label button {
  height: fit-content;
  width: fit-content;
  text-align: start;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  padding: 0rem;
  margin: 0rem;
  color: #000000;
  padding-inline: 0rem;
  padding-block: 0rem;
}

/* PFL IMG AND ICONS */

.publication-facts-label #pfl-table-footer .pfl-info-icon {
  max-width: 1.25rem;
  width: 100%;
  height: 100%;
  margin-top: -0.5rem;
  vertical-align: middle;
}

.publication-facts-label .pfl-orcid-icon {
  display: flex;
  align-items: center;
}

.pfl-orcid-icon img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.2rem;
}

[dir="rtl"] .pfl-orcid-icon img {
  margin-left: 0.2rem;
}

/* ACCESSIBILITY */

.pfl-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* PFL INFO PAGE */

#pfl-info-page {
  font-family: "Noto Sans", sans-serif;
}

#pfl-info-header_01 {
  font-size: 1.4rem;
  line-height: 3rem;
  margin-bottom: -3.3rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
}

#pfl-info-header_02 {
  font-size: 2.8rem;
  line-height: 3rem;
  margin-bottom: -1.5rem;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 85;
  letter-spacing: -0.05rem;
}

#pfl-info-page-header {
  width: 100%;
}

.pfl-info-page-intro {
  font-size: 1.1rem !important;
  line-height: 1.7rem !important;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.pfl-info-page-intro.black-bar:before {
  content: "";
  display: block;
  height: 0.2rem;
  background-color: #000;
  margin-bottom: 2.5rem;
}

#pfl-info-page h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: -1.5rem;
  font-variation-settings: "wdth" 95;
}

#pfl-info-page ul {
  font-size: 1.1rem;
  margin: 3rem auto;
}

#pfl-info-page li {
  margin: 1rem auto;
  line-height: 1.7rem;
}

#pfl-info-page-ul-sub-list {
  margin-top: 0rem !important;
  margin-bottom: 3rem !important;
}

#pfl-info-page p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  margin-top: 2rem;
  margin-bottom: -1.2rem;
}

#pfl-info-page p:last-child {
  margin-bottom: 3.2rem;
}

#pfl-info-page p:first-child {
  margin-top: 2rem;
}

#pfl-info-page section {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 0.1px solid #b2b2b2;
}

/* TEMPORARLY FOR SURVEY */
/* FORM */

@media (min-width: 768px) {
  .ff-layout-default {
    max-width: 312px;
    padding: 0.1rem 0.1rem;
  }
}

.ff-form .ff-title {
  display: none;
}

.ff-message {
  margin-top: 1.5em;
  max-width: 312px;
}

.ff-secfields {
  padding-bottom: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ff-item {
  font-size: var(--ff-fs);
  -webkit-padding-before: unset;
  padding-block-start: unset;
  -webkit-padding-after: unset;
  padding-block-end: unset;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  margin-bottom: 1rem;
}

.ff-button-bar {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ff-item-qs {
  width: unset;
}

a.ff-powered-img {
  margin-left: 0px;
  margin-top: unset;
  margin-bottom: unset;
}

#ff-id-308665301 {
  display: flex;
  padding-bottom: 2rem;
}

@media (min-width: 640px) {
  .ff-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.ff-form table.ff-linear-scale-default-container td {
  min-width: unset;
  padding-top: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

.ff-form table tr td {
  padding: 1em 0.75em 0em 0.6em;
  text-align: center;
}

.ff-small-text {
  line-height: 1.3em !important;
  word-wrap: normal;
  text-align: center;
}

@media (min-width: 768px) {
  .ff-message {
    max-width: 312px;
    margin: unset;
    margin-bottom: 0rem;
    margin-top: 1.5rem;
  }
}

#ff-compose {
  border: 1px solid #d3d3d3;
  margin-top: 0.5rem;
  display: none;
}
