<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publication Facts Label – Information on each fact</title>

    <!-- The following styling is just a placeholder, as I assume the page's contents will have to be integrated into a new page in the theme's template build -->
    
    <style>
    
    html, body {
        font-family: "Noto Sans", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
        font-size: 14px;
        line-height: 1.4rem;
        color: rgba(0, 0, 0, 0.9);
        background: #fff;
    }

    h1 {
        line-height: 1.2;
    }

    p {
        margin-top: 10px;
    }

    li {
        margin-top: 10px;
    }

    ul {
        margin-top: 10px;
    }
    
    @media (min-width: 1200px) {
        body {
            width: 860px;
        }
    }

    @media (min-width: 992px) {
        body {
            float: left;
            padding: 0 2.143rem 6.429rem;
            width: 652px;
        }
    }

    </style>

</head>

<body>
    
    <h1>Information on each fact on <br>Publication Facts Label (PFL)</h1>

    <p>The PFL, developed by the Public Knowledge Project at Simon Fraser University, seeks to help readers learn about an article’s and journal’s adherence to scholarly standards. The journal operates on a software publishing platform that provides the label with the data you see, while the publishing organization <a href="https://orcid.org/" target="_blank" rel="noopener">ORCID</a> verifies the personnel identities of those working on the journal (more about that <a href="https://doi.org/10.1002/leap.1599" target="_blank" rel="noopener">here</a>).</p>

    <hr />

    <h2>Other articles</h2>
    
    <ul>
        <li>The column on the right of the label presents the averages from articles published in this and other journals that employ the PFL, initially limited to journals using OJS.</li>
        <li>See list of journals utilizing PFL.</li>
        <li>Note that at this point these other articles and journals are from a range of disciplines, which often have different scholarly practices. The plan is to provide labels with comparisons from the same disciplines when the number of journals using the label is sufficient to do so.</li>
    </ul>
    
    <h2>Other journals</h2>
    
    <ul>
        <li>The column on the right also presents average data from other journals employing the PFL.</li>
    </ul>
    
    <hr />
    
    <h2>Peer reviewers</h2>
    
    <ul>
        <li>The journal editors invite researchers with the relevant expertise to review the article, evaluating, as well as suggesting improvements to, the article’s quality, methods, completeness, clarity, ethics, and other aspects.</li>
        <li>Reviewers are typically asked to recommend acceptance, revisions, or rejection, while their identities are commonly kept from authors (and vice versa).</li>
    </ul>
    
    <h2>Reviewer <img src="../img/orcid2.svg" alt="" width="16" height="16" /> profiles</h2>
    
    <ul>
        <li>To protect reviewer anonymity, the set of <img src="../img/orcid2.svg" alt="ORCiD logo" width="12" height="12" /> profiles (as managed and verified by <a href="https://orcid.org/" target="_blank" rel="noopener">ORCID</a>) on the masthead are from the reviewers of the journal’s last complete volume.</li>
    </ul>
    
    <h2>Author statements</h2>
    
    <ul>
        <li>On submitting an article, authors are asked to declare competing interests, data availability, and external funding sources:</li>
    </ul>
    
    <h2>Competing interests</h2>
    <ul>
        <li>If authors respond yes, then “view” leads to the authors’ report of potential competing interests involving their study and other interests (e.g., involving a business or family).</li>
        <li>The conflict, which has been considered by reviewers and the editor, is judged not to threaten the research’s integrity, in part, by making it known.</li>
        <li>Under “other articles,” the percentage is for articles declaring “yes.”</li>
    </ul>
    
    <h2>Data availability</h2>
    
    <ul>
        <li>If authors respond yes, then “view” leads to the authors’ Data Availability Statement indicating that the data collected for their study is available for further analysis, including replication studies, by others.</li>
        <li>Sharing data may not be appropriate for all studies due to privacy, security and other issues.</li>
        <li>Under “other articles,” the percentage is for articles declaring “yes.”</li>
    </ul>
    
    <h2>External funding</h2>
    
    <ul>
        <li>If authors respond yes, then “view” leads to the list of government, corporate, and private agencies that, after a review process, have supported related research expenses.</li>
        <li>Under “other articles,” the percentage is for articles declaring “yes.”</li>
    </ul>
    
    
    <h2>Articles accepted</h2>
    
    <ul>
        <li>Percentage of articles selected by the editors, from among those submitted, for publication, following peer review and revision process.</li>
        <li>Editors decline articles due to topic relevance or research quality.</li>
    </ul>
    
    <h2>Days to Publication</h2>
    
    <ul>
        <li>This is the average time from the day authors submit a paper to, if it is accepted, its day of publication.</li>
    </ul>
    
    <h2>Indexing</h2>
    
    <ul>
        <li>The PFL checks six research indexes, linking the acronym, for those that index the journal, to the page listing it. Below they are linked to the index homepage.
            <ul>
        
                <li><a href="https://doaj.org/" target="_blank" rel="noopener">D</a> Directory of Open Access Journals (open for readers)</li>
                <li><a href="https://scholar.google.com/" target="_blank" rel="noopener">GS</a> Google Scholar (open for readers)</li>
                <li>L Latindex (open for readers)</li>
                <li><a href="https://www.nlm.nih.gov/medline/medline_overview.html" target="_blank" rel="noopener">M</a> Medline (open for readers)</li>
                <li><a href="https://www.elsevier.com/solutions/scopus" target="_blank" rel="noopener">S</a> Scopus (requires subscription to view)</li>
                <li><a href="https://clarivate.com/products/scientific-and-academic-research/research-discovery-and-workflow-solutions/webofscience-platform/" target="_blank" rel="noopener">WS</a> Web of Science (requires subscription to view)</li>
            </ul>
            </li>
        
        <li>Not all indexes are appropriate for all journals. Latindex is for Latin American journals; Medline for the health sciences; while the other four are general indexes.</li>
        <li>Indexes search out journals to include in their database and/or accept applications from journals and publishers to include them.</li>
    </ul>
    
    <hr />
    
    <h2>Editor and board member <img src="../img/orcid2.svg" alt="ORCiD logo" width="16" height="16" /> profiles</h2>
    
    <ul>
        <li>Editors oversee the review and selection of submissions, as well as their preparation, for publication, and they are selected by publisher, board, and/or society.</li>
        <li>Editorial board members advise editors and publishers on research matters, and they are selected by editors and/or society.</li>
        <li>Their <img src="../img/orcid2.svg" alt="ORCiD logo" width="12" height="12" /> profiles are managed and verified by <a href="https://orcid.org/" target="_blank" rel="noopener">ORCID</a>.</li>
    </ul>
    
    <h2>Academic society</h2>
    
    <ul>
        <li>Societies sponsor relevant journals as part of their work in advancing their field, appointing editors and board members in the process.</li>
    </ul>
    
    <h2>Publisher</h2>
    
    <ul>
        <li>The publisher is responsible for the journal’s management, production, publication, promotion, and indexing, and, for journals without an academic society, will own the title.</li>
    </ul>
    
    <hr />
    
    <h2>List of Journals Employing the Publication Facts Label</h2>
    
    <p>For the journals listed below, the editors or publishers have activated the Publication Facts Label plugin, which enables PKP to collect and compile PFL data and redistribute it to journals employing the PFL, where it appears under “other articles” or “other journals” in the PFL.</p>
    
    <ul>
        <li><em>Test Journal</em></li>
    </ul>

</body>
</html>


